@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,400&display=swap');

* {
    margin : 0;
    padding : 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body {
    background-color: #321386;
    width: 100vw;
    min-height: 100vh;
}




#logo{
    max-width: 100px;
    max-height: 100px;
    margin: auto;
    border-radius: 10px;
}
.shadow{
    box-shadow: 0px 0.5px 2px 1px rgba(0, 0, 0, 0.1);
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 450px;
    align-items: center;
    width: 350px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.error{
    width: 80%;
    list-style-position: inside;
    color: whitesmoke;
    background-color: #ee4b3f;
    border-radius: 5px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#form-login{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px
}

#form-login input{
    width: 80%;
    height: 40px;
    margin: 5px auto;
    padding: 15px;
    border-radius: 5px;
}

#btn-login{
    width: 80%;
    height: 50px;
    margin: 5px auto;
    background-color: #0092DF;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

/* END */

header{
    width: 250px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    text-align: center;
}

#head{
    display: flex;
    flex-direction: column;
    gap: 25px;

    
}

nav{
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 5px;
}

nav a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px 0;
}

.nav-item{
    display: flex;
    gap: 20px;
}

.nav-item:hover{
    color:#0092DF;
}

.nav-item i, .nav-item img{
    font-size: 20px;
    width: 20px;
}

.on-page{
    color:#0092DF;
}

.btn{
    background-color: #0092DF;
    color: white;
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn i{
    font-size: 20px;
}









#toggle-menu{
	display: none;
	flex-direction: column;
	height:20px;
	justify-content: space-between;
	position: relative;
    margin: auto;
}

#toggle-menu input{
	position: absolute;
	width: 28px;
	height: 20px;
	opacity: 0;
	left: -4px;
	cursor: pointer;
	z-index: 2;
}

#toggle-menu span{
	display: block;
	width: 20px;
	height: 4px;
	background-color: black;
	border-radius: 10px;
	transition: 0.2s;
}
/* animasi */
#toggle-menu span:nth-child(2){transform-origin: 0 0;}
#toggle-menu span:nth-child(3){transform-origin: 50% 0;}
#toggle-menu span:nth-child(4){transform-origin: 100% 0;}

#toggle-menu input:checked ~ span:nth-child(2){
	transform: rotate(90deg) translate(0px,-6px);
}

#toggle-menu input:checked ~ span:nth-child(3){
	transform: rotate(90deg) translate(2px,-2px);
}

#toggle-menu input:checked ~ span:nth-child(4){
	transform: rotate(90deg) translate(4px,2px);
}












/* Content */

.content{
    width: 70%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.section-cards{
    background-color: white;
    padding: 10px 30px;
    display: flex;
    border-radius: 12px;
}

.head-info{
    min-height: 50px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.head-info h1{
    font-size: 1rem;
    font-weight: 400;
}
.user-info{
    display: flex;
    gap: 10px;
}
.user-info i{
    font-size: 24px;
}

.main-content{
    flex-direction: column;
    text-align: justify;
    padding: 50px 30px;
    max-height: 90vh;
    overflow-x: scroll;
}

.content-head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    flex-wrap: wrap;
}

.content-title{
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.content-title i{
    font-size: 24px;
}

.content-title h2{
    font-size: 1rem;
    font-weight: 600;
}

.table {
    border-collapse: collapse;
}
.table tr:first-child{
    background-color: #0092DF;
}
.table tr:first-child th:first-child{
    border-radius: 5px 0 0 0;
}
.table tr:first-child th:last-child{
    border-radius: 0 5px 0 0 ;
}
.table tr:first-child th{
    color: white;
    font-weight: 400;
    padding: 0 10px;
    text-align: center;
}
.table tr td{
    padding: 2px 10px;
    text-align: center;
    border-bottom: 1px solid black;
}

/* Form */

.form-row{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 20px;
}

.form-row div{
    min-width: 325px;
}


/* Mengatur warna background pada header tabel */
.table thead tr:first-child{
    background-color: #0092DF!important;
  }
  
  /* Mengatur warna background pada cell tabel */
  .table tbody tr:nth-child(even) {
    background-color: white!important;
  }
  .table tbody tr:nth-child(odd) {
    background-color: white!important;
  }
  .table tfoot tr:last-child {
    background-color: white!important;
  }
  .table tbody tr:hover {
    /* background-color: #ddd; */
  }

 
.slide{
    /* transform: translateY(55%); */
    opacity: 1;
    display: block;
}









  @media only screen and (max-width: 768px) {
    header{
        width: 100%;
        min-height: 10vh;
        flex-direction: row;
    }
    #head{
        flex-direction: row;
    }
    #logo{
        max-width: 90px;
    }
    nav{
        flex-direction: row;
        margin: auto;
    }
    header a:last-child{
        margin: auto 0;
    }
    .content{
        width: 100%;
    }
  }








/* 320 */
@media only screen and (max-width: 580px) {
    .center{
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    header{
        position: fixed;
        background-color: #f7fafc;
        z-index: 1;
    }
    #logo{
        max-width: 50px;
    }
    nav{
        position: absolute;
        /* transform: translate(-30px, 60px); */
        top: 100px;
        left: 0;
        background: #f7fafc;
        width: 100%;
        height: 100vh;
        /* flex-direction: column; */
        z-index: 1;
        padding-top: 20px;
        display: none;
        opacity: 0;
    }
    nav a{
        height: fit-content;
        display: block;
        padding-left: 20px;
    }
    #toggle-menu{
        display: flex;
    }
    .content{
        margin-top: 100px
    }
}